<div class="container">
    <div class="row row-header">
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4" align="left">
            <object>
                <embed src="http://www.abcinc-us.com/images/abcani.swf"/>
            </object>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
            <b>Allied Business Consulting Inc. </b> is a software services oriented IT solutions firm run by experienced technology professionals. The firm is built on more than ten years of experience in the IT industry and delivers just-in-time, cost effective and quality services.
            
            <br>
            <b>We Provide</b><br>
            <b>Staff Augmentation:</b>
Short term resources to complete critical IT solutions on time are a felt need. Our recruitment coordinators will promptly evaluate your requirements with your team and provide assistance. <a href="#"> <b>More Info >> </b></a> <br>
            <b>Direct Placements:</b>
            We have a large database of profiles of candidates with experience in different technologies and domains. We can map your requirements with our database and provide suitable candidates. <a href="#"> <b>More Info >> </b> </a> <br>
            <b>On Site Services:</b>
            We have the demonstrated capability to undertake critical on-site services in diverse areas such as DBA, OS administration, application development and project management. We provide consultants at competitive costs. <a href="#"> <b>More Info >> </b> </a> <br>
            <b>Offshore Services:</b>
Offshore software development using cost effective centres in India is a very attractive proposition. Our trained and skilled consultants / programmers in the Indian centre can supplement our on site services. <a href="#"> <b>More Info >> </b> </a><br>
            <br>
            <br>
        </div>
    </div>
</div>