<div class="container">
    <div class="row row-header">
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-2">
            <b>Overview</b>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6" align="left">
            <img ng-src="{{overview.img}}" alt="{{overview.text}}"/>
        </div>
    </div>
    <div class="row row-header">
        <div style="height: 50px;"></div>
    </div>
    <div class="row row-header">
        <div class="col-xs-12 col-sm-12 col-md-10 col-lg-10">
            {{overview.text}}
            
            <ul><li>
                A primary area of concern for companies implementing critical IT solutions is availability of skilled technical people for limited periods. Our staff augmentation service addresses just this.
                </li>
            </ul>
            <ul><li>
                <b>Allied</b> can also provide permanent manpower based on your needs. We follow a     stringent 5-step recruitment process that ensures a perfect match.
                </li>
            </ul>
            <ul><li>
                <b>Allied</b> can offer cost-effective offshore development out of India or provide a complete     range of on-site services.
                </li>
            </ul>
            <p>And so, whatever your need be in IT services, <b>Allied</b> will be your reliable partner.</p>
        </div>
        
        <div style="height: 150px;"></div>
    </div>
</div>